<div class="caption"
<% if caption == @current_caption %>
	id="current_caption"
<% end %>
>
<table style="display:inline-table;vertical-align:center;">	
<tr>
<td>
	<span class="caption_headline">
		<%=h caption.headline %>
	</span>

	<span class="caption_user">
		Suggested by <%=h caption.user.name %>
	</span>
	<span class="caption_detail_info">
		<%=h did_when(caption.created_at) %>
	</span>
</td>	

<td>
	<% form_remote_tag :url => { :action => 'caption_vote', :id => caption.id, :u => 'y' } do %>
		<%= image_submit_tag "up.png" %>
	<span class="caption_vote_count" id="up_vote_count_<%= caption.id %>">
	(<%=h caption.count_of_up_votes %>)
	</span>
	<% end %>
</td>	

<td>
	<% form_remote_tag :url => { :action => 'caption_vote', :id => caption.id, :u => 'n' } do %>
		<%= image_submit_tag "down.png" %>
	<span class="caption_vote_count" id="down_vote_count_<%= caption.id %>">
	(<%=h caption.count_of_down_votes %>)
	</span>
	<% end %>
</td>
</tr>
</table>
</div>
